 
  .item {
    background-color:#fff;
    border-radius:2px;
    box-shadow:2px 2px 4px 0 #d1d1d1;
    display:inline-block;
    margin:0 0 1rem;
    padding:1rem;
    position:relative;
    width:100%;
  }
  
  .item.hidden {
    visibility:hidden;
  }
  
  .item-image {
    background-color:#e9e9e9;
  }
  
  .item-image img {
    border-radius:2px;
    display:block;
    height:auto;
    transition:opacity 1200ms ease;
    width:100%;
  }
  
  .item-title {
    font-size:.85rem;
    margin:.5rem .25rem;
    word-wrap:break-word;
  }
  
  .item-price {
    color:#3c763d;
    display:inline-block;
    font-size:1.2rem;
    font-weight:600;
    margin:.5rem .25rem 0;
    line-height:1;
  }
  
  .item-quantity {
    border-radius:2px;
    bottom:1rem;
    color:#fff;
    font-size:.75rem;
    font-weight:600;
    padding:.25rem .5rem;
    position:absolute;
    right:1rem;
  }

  /* Quantity Level */

[class^="level-"] {
    color:#fff;
  }
  
  .level-low { background-color:#a94442; }
  .level-medium { background-color:#8a6d3b; }
  .level-high { background-color:#3c763d; }